*
!/app
!/logs
!/mysql
!/nginx
!/php
!/php/composer
!/php/redis.tar.gz
!/php7
!/php7/composer
!/script
!.gitignore
!docker-compose.yml
!README.md
!Vagrant
!/php8
!/php8/Dockerfile
!/php8/etc/php-fpm.conf
!/php8/etc/php.ini
